<% include templates/header.ejs %>
    <center>
        <h3>
            Welcome to the forum!
        </h3>
        <div class="container">
        <%# <form action="" method="post" name="topicCreate">%>
        <table width="100%" border="2" bordercolor="black" cellpadding="10">
            <tr>
                <td colspan="3">
                    ForexForum
                    <a href="/topicCreate"><button> create topic </button></a>
                </td>
            </tr>
            <% filedata.topics.forEach(function(item){ %>
                <tr>
                    <td width="20%">
                        <label><%=item.userName %></label>
                    </td>
                    <td width="60%">
                        <%=item.contents %>
                    </td>
                    <td width="20%">
                        latest:
                    </td>
                </tr>
            <% }); %>
        </table>
        <%# </form>%>
        </div>
    </center>
<% include templates/footer.ejs %>
