<% include templates/header.ejs %>
    <center>
        <h3>
            Welcome to the our group's forum!
        </h3>
        <div class="container">
        <table width="100%" border="2" bordercolor="red" cellpadding="10">
            <tr>
                <td colspan="3">
                    ForexForum
                </td>
            </tr>
            <% filedata.topics.forEach(function(item){ %>
                <tr>
                    <td width="22%"> <label> <%=item.title %> </label></td>
                    <td width="62%"> <%=item.contents %> </td>
                    <td width="21%"> from: <%=item.username %></td>
                </tr>
            <% }); %>
        </table>
        </div>
    </center>
<% include templates/footer.ejs %>
