<% include templates/header.ejs %>
    <center>
        <h3>
            Welcome to ForexForum!
        </h3>
        <p>
            <img src="/imgs/forex.png"/>
        </p>
    </center>
<% include templates/footer.ejs %>
