<% include templates/header.ejs %>
    <center>
        <h3>
            Login Page
        </h3>
        <form action="" method="post">
            <input type="text" name="logemail" placeholder="Email Address">
            <br />
            <input type="password" name="logpassword" placeholder="Password">
            <br />
            <input type="submit" value="Login">
            <br />
            <a href="/passwordReset">forgot password?</a>
            <br />
            <p >
                <font color="red"><%=errorMessage %></font>
            </p>
        </form>
    </center>
<% include templates/footer.ejs %>
