<!DOCTYPE html>
<html>
    <head>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <% include templates/header.ejs %>
        <h1><%= pageTitle %></h1>
        <p>
            This is news page!
        </p>
    </body>
</html>
