<% include templates/header.ejs %>
    <center>
        <h3>
            News!
        </h3>
        <h4><%=newsTitle %></h4>
        <br />
        <p>
            <%=newsDescription %>
        </p>
        <br />
        <p>
            <img src=<%=newsImage%> />
        </p>
    </center>
<% include templates/footer.ejs %>
