<% include templates/header.ejs %>
    <center>
      <form method="post">
        <input type="text" name="resetEmail" placeholder="Enter your email">
        <br />
        <input type="submit" value="Submit">
        <br />
        <p >
            <font color="red"><%=errorMessage %></font>
        </p>
      </form>
    </center>
<% include templates/footer.ejs %>
