<% include templates/header.ejs %>
    <center>
        <h3>
            Welcome to ForexForum!!
            <br />
            Please Complete Your Registeration.
        </h3>
        <form method="post">
            <input type="text" name="email" placeholder="Email" />
            <br />
            <input type="text" name="username" placeholder="Username" />
            <br />
            <input type="password" name="password" placeholder="Password" />
            <br />
            <input type="password" name="passwordConf" placeholder="Confirm Password" />
            <br />
            <input type="submit" value="register" />
        </form>
    </center>
<% include templates/footer.ejs %>
